.container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-left: 1rem;
  margin-top: 1.5rem;
  gap: 1.7rem;
  cursor: pointer;
}
.icon {
  font-size: 1.3rem;
}
.icon:hover {
  color: #ffffff;
}
.socialLinks {
  margin-top: auto;
}
