.container {
  margin-top: 1rem;
}
.heading {
  padding-left: 1rem;
  font-size: 1.2rem;
  font-weight: 500;
  color: #ffffff;
  margin-bottom: 0.8rem;
}
.catagory_item {
  display: flex;
  align-items: center;
  padding-left: 1rem;
  gap: 0.3rem;
  cursor: pointer;
  width: 100%;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
}
.active {
  color: #ffffff;
  width: 100vh;
  background-color: var(--menu-item-active-color);
}
.icon {
  font-size: 1.4rem;
}
.catagory_item:hover {
  color: #ffffff;
  width: 100vh;
  background-color: var(--menu-item-active-color);
}
.bottom_line {
  margin-top: 1rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  border: 0;
  transform: "scaleY(0.5)";
  background: var(--primary-color);
  height: 1px;
}
