.sideBar {
  width: var(--SideBar-width);
  height: 100vh;
  background-color: var(--sidebar-bg-color);
  overflow-y: auto;
  border-right-width: calc(0.0625rem);
  border-right-style: solid;
  border-right-color: var(--side-bar-border-color);
  display: flex;
  flex-direction: column;
  padding: 2.5rem 0;
}
.app_branding {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  right: 15px;
  gap: 0.4rem;
  margin-bottom: 1.2rem;
}
.app_logo {
  height: 40px;
  width: 48px;
  object-fit: cover;
  border-radius: 5px;
}
.app_name {
  font-size: var(--app-name-font);
  font-family: "Poetsen One", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #ffffff;
}
