.container {
  display: flex;
  height: 100vh; /* Full viewport height */
  overflow: hidden;
  line-height: 1.4;
}
.sideBar {
  width: var(--SideBar-width);
  background-color: var(--sidebar-bg-color);
  display: flex;
  flex-direction: column;
  padding: 1.5rem 0;
  overflow-x: hidden; /* Hide horizontal scrollbar */
  overflow-y: auto;
}
.app_branding {
  display: flex;
  align-items: center;
  justify-content: center;
  /* right: 15px; */
  gap: 0.4rem;
  margin-bottom: 1.2rem;
}
.app_logo {
  height: 42px;
  width: 48px;
  object-fit: cover;
  border-radius: 5px;
  cursor: pointer;
}
.app_name {
  font-size: var(--app-name-font);
  position: relative;
  top: 1.5px;
  font-weight: 700;
  letter-spacing: 7px;
  color: #ffffff;
}
/* ::-webkit-scrollbar {
  width: 10px;
} */

::-webkit-scrollbar {
  width: 4px; /* Adjust as needed */
}

/* Change the color of the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 7px; /* Change to your desired thumb color */
}

/* Change the color of the scrollbar track */
::-webkit-scrollbar-track {
  background-color: var(
    --sidebar-border-color
  ); /* Change to your desired track color */
}
