.container {
  display: flex;
}

.main_content {
  flex: 1;
  overflow-y: auto; /* Enable vertical scrolling for main content */
  display: flex;
  flex-direction: column;
  padding: 2rem 1.5rem;
}
/* .blur {
  filter: blur(5px);
} */
.search_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.text_input {
  display: flex;
  gap: 1rem;
  width: 650px;
  min-width: 350px;
  background-color: #101622;
  padding: 12px 0rem 12px 1rem;
  border-radius: 50px;
  border: 2px solid transparent; /* Initial border color */
  transition: border-color 0.3s ease; /* Add transition for smooth effect */
}

.text_input:focus-within {
  border-color: var(
    --search-bar-border-color
  ); /* Apply border color when input is focused */
}

.input {
  flex: 1;
  border: none; /* Remove default input border */
  background-color: transparent;
  outline: none; /* Remove default focus outline */
  font-weight: 500;
  color: #ffffff;
  font-size: var(--normal-font);
}

.icon {
  font-size: 1.4rem;
  color: var(--text-grey);
}
.btn_search {
  position: relative;
  right: 20px;
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
}
.btn_upload {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  padding: 12px 27px;
  cursor: pointer;
  border-radius: 50px;
  font-size: var(--normal-font);
  color: #ffffff;
  border: none;
  outline: none;
  background: var(--primary-color);
}
.btn_upload:hover {
  box-shadow: 0 0 17px rgb(255, 137, 145);
}
.upload_icon {
  font-size: 1.4rem;
  font-weight: 500;
}
.scroll_button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  width: 35px;
  border: 1px solid;
  border-radius: 20px;
  background: black;
  cursor: pointer;
  z-index: 100;
}
.left {
  position: absolute;
  top: 1.5rem;
  left: 0;
}
.right {
  position: absolute;
  top: 1.5rem;
  right: 0;
}
.scroll_button:hover {
  border-color: var(--search-bar-border-color);
  box-shadow: 0 0 13px var(--search-bar-border-color);
}
.scroll_icon {
  position: relative;
  top: 0.15rem;
  font-size: 1.5rem;
  color: #ffffff;
}
.search_tags {
  position: relative;
  overflow-x: auto;
}
